.khung{width: 1080px;height: 2150px; border-top: solid 4px #dfdfdf;border-bottom: solid 4px #dfdfdf;border-left: solid 4px #dfdfdf;border-right: solid 4px #dfdfdf; margin:auto;margin-top: 20px;}
.head{width: :100%;height: 100px;}
.head .logo{font: normal 15px Arial;margin-left: 20px;}
.head .duoilogo{font: normal 11px Arial;margin-left: 20px;color: red;margin-top: 10px; border-top:solid 1px #dfdfdf;width:350px;}


.menu{width: :100%;height: 40px; border-bottom: solid 1px #dfdfdf;background: #2a2a2a;border-bottom:solid 5px #e64946; }
.menu > ul > li{float: left;border-right: solid 1px #dfdfdf;margin-left: 0px;}
.menu ul li a{text-decoration: none;color: white;padding: 12px;display: block;font: normal 15px Arial;font-weight:bold;}
.menu ul li a:hover{background:#e64946; }
.menu ul{list-style: none;}
.menu ul li{
    position: relative;
}

.menu ul li .menucon{
    width: 155px;
    background-color: #2a2a2a;
    position: absolute;
    display: none;
    -webkit-padding-start: 0px;
}

.menu ul li .menucon li{
    border-bottom: 1px solid #ffffff;
}

.menu ul li:hover .menucon{
    display: block;
}


.main{width: 1080px;min-height: 1520px;}
.right{float: right;width: 250px; border: dotted 1px black; min-height: 500px; margin-top: 10px; margin-right: 10px;}
.timkiem{background: #f5f5f5;width: 100%;height: 50px;}
.timkiem input[type=text]{width: 200px;line-height: 20px}
.timkiem .txt{margin:auto;margin-top: 12px;margin-left: 21px;}
.lkfacebook{margin-top :15px;margin-bottom: 15px;}
.quangcao{margin-top :15px;margin-bottom: 15px;}
.tinmoi{width: 250px;}
.tinmoi .tieude{width: 250px;height: 20px;}
.tinmoi .tieude p{font: normal 16px Arial;font-weight: bold;margin-left: 10px;}
.tinmoi .tieude {border-bottom:solid 5px #e64946}
.tinmoi .noidung ul{margin-left: 0px;-webkit-padding-start: 0px;}
.tinmoi .noidung ul li{list-style: none;border-bottom: solid 1px #dfdfdf}
.tinmoi .noidung ul li a{display: block;line-height: 20px; font: normal 16px Arial; color: black;text-decoration: none;padding: 10px;}
.tinmoi .noidung ul li a:hover{color:#e64946 }

.tags{width: 250px;min-height: 300px;}
.tags .tieude{width: 250px;height: 20px;}
.tags .tieude p{font: normal 16px Arial;font-weight: bold;margin-left: 10px;}
.tags .tieude {border-bottom:solid 5px #e64946}
.tags .noidung {height: auto;padding: 10px}
.tags .noidung a{display: inline-block;margin: 0 4px 8px 0;font: normal 12px Arial; color: white;text-decoration: none;text-transform: uppercase;padding:5px 10px;background: #00b9eb;font-weight: bold;}
.tags .noidung a:hover{background:#e64946 }


.left{float: left;width: 790px; border: dotted 1px black; min-height: 500px; margin-top: 10px; margin-left: 10px;}
.Khungnoidung{width: 100%;height: initial;border:solid 1px #dfdfdf;}
.Khungnoidung .nd_trai{width: 250px;}
.Khungnoidung .nd_trai .khunganh{width: 235px; height: 132px; overflow: hidden;}
.Khungnoidung .nd_trai .khunganh img{margin-top: 10px;margin-left: 10px}

.khunganh img{
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
margin: 0 10px 5px 0; /*margin between images*/
}
.khunganh img:hover{
-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.1); /*Mozilla scale version*/
-o-transform:scale(1.1); /*Opera scale version*/}
.Khungnoidung .nd_phai{width: 520px;float: right;margin-right: 10px;margin-top: -125px;}
.Khungnoidung .nd_phai .tieudend{width: 100%; height: 50px; overflow: hidden;}
.Khungnoidung .nd_phai .tieudend a{text-decoration: none;font: normal 20px Arial;color: black;font-weight: bold;}
.Khungnoidung .nd_phai .tieudend a:hover{color:#e64946}
.Khungnoidung .nd_phai .ngaydang{width: 100%; height: 20px;}
.Khungnoidung .nd_phai .mota{width: 100%; height: 60px;}
.Khungnoidung .nd_phai .mota .ndmota{font: normal 15px Arial;color: black;}
.Khungnoidung .chuyentrang{width: 100%; height: 50px; margin-top: 20px}
.Khungnoidung .chuyentrang a{display: inline-block;font: inherit;cursor: pointer;margin-left: 10px;color: black; background: #dfdfdf;font-weight: bold; padding: 10px;text-decoration: none;}
.Khungnoidung .chuyentrang a:hover{background: #e64946 }

.footer{width: 1085px;margin-left: -4px; height: 30px; background: #2a2a2a;margin: auto; margin-top: 453px;}
.footer span{color: white;font: normal 13px Arial;line-height: 30px;padding: 5px 10px;margin-left: 20px;}

.chan{width: 1080px; height: 30px; background: #2a2a2a;margin: auto;}